/** {*/
    /*-webkit-tap-highlight-color: rgba(0,0,0,0); [> make transparent link selection, adjust last value opacity 0 to 1.0 <]*/
/*}*/

/*body {*/
    /*-webkit-touch-callout: none;                [> prevent callout to copy image, etc when tap to hold <]*/
    /*-webkit-text-size-adjust: none;             [> prevent webkit from resizing text to fit <]*/
    /*-webkit-user-select: text;                  [> prevent copy paste, to allow, change 'none' to 'text' <]*/
    /*);*/
    /*background-attachment:fixed;*/
    /*font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
    /*height:100%;*/
    /*margin:0px;*/
    /*width:100%;*/
/*}*/

/* Portrait layout (default) */
/*.app {*/
    /*border: solid;*/
    /*margin: 0 auto;*/
    /*position:absolute;             [> position in the center of the screen <]*/
    /*left:50%;*/
    /*top:10%;*/
    /*height:50px;                   [> text area height <]*/
    /*width:225px;                   [> text area width <]*/
    /*padding:0px 0px 0px 0px;     [> image height is 200px (bottom 20px are overlapped with text) <]*/
    /*margin:0px 0px 0px -112px;  [> offset vertical: half of image height and text area height <]*/
                                   /* offset horizontal: half of text area width */
/*}*/

 /*Landscape layout (with min-width) */
/*@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {*/
    /*.app {*/
        /*background-position:left center;*/
    /*}*/
/*}*/

/*@keyframes fade {*/
    /*from { opacity: 1.0; }*/
    /*50% { opacity: 0.4; }*/
    /*to { opacity: 1.0; }*/
/*}*/
 
/*@-webkit-keyframes fade {*/
    /*from { opacity: 1.0; }*/
    /*50% { opacity: 0.4; }*/
    /*to { opacity: 1.0; }*/
/*}*/
